<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.opcoach.e4.preferences.e4PreferencePages">
      <page
            class="net.mmyumu.docdoc.game.location.pages.RootPage"
            id="net.mmyumu.docdoc.game.location.page.root"
            name="Location">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.mmyumu.docdoc.game.location.pages.DefaultValuesInitializer">
      </initializer>
   </extension>

</plugin>
